@import url('https://www.dafont.com/pixel-operator.font');
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Pixel Operator";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #FEF9A7;
    z-index: 1;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* Responsive Image Slide Start */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #eea849;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.slider{
  /*width: min(90%, 70.5rem);*/
  padding: 0 1rem 0 1rem;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.slides{
  /*width: 500%;*/
  width: 500%;
  height: 300px;
  display: flex;
}

.slides input {
  display: none;

}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  /*width: 100%;*/
  width: 100%;
  padding: 0 1rem 0 1rem;
  height: 300px;
}

/* manual slide */

.navi-manual {
position: absolute;
/*width: 100%;*/
width: 100%;
padding: 0 1rem 0 1rem;
object-fit: cover;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn {
  border: 2px solid #f46b45;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #eea849;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}



/* automatic slide */
.navi-auto {
  /*position: absolute;*/
  display: flex;
  /*width: 100%;*/
  width: min(90%, 70.5rem);
  padding: 0 1rem 0 1rem;
  object-fit: cover;
  justify-content: center;
  margin-top: 480px;
}

.navi-auto div {
  border: 2px solid #f46b45;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navi-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navi-auto .auto-btn1 {
  background: #f46b45;
}

#radio2:checked ~ .navi-auto .auto-btn2 {
  background: #f46b45;
}

#radio3:checked ~ .navi-auto .auto-btn3 {
  background: #f46b45;
}

#radio4:checked ~ .navi-auto .auto-btn4 {
  background: #f46b45;
}

/* container content */

h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  justify-content: space-evenly;
  grid-template-columns: 33% 33% 33%;
  width: 90%;
  }
  
.grid-container > div {
 font-size: 15px;
}

.grid-item{
  padding: 10px;
  grid-column-gap: 20px;
}
  

/* movies css */

.padding-box {
  padding: 12px;
}

.heading--module {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -.4px;
  text-transform: uppercase;
  align-items: center;
}

.movie-tb {
  background-color: #eea849;
  display: grid;
  margin: 0 auto;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 32px;
}
    
.movie-tb p {
  font-size: 18px;
  color: white;
  text-align: left;
}
    
.movie-tb .card {
  background-color: #FEF9A7;
  color: black;
  text-align: center;
  height: 450px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

/* cinemas page */

.cinema-locations {
  margin: 0;
  padding: 40px 60px;
  display: block;
  border: none;
  line-height: 1.3em;
  text-align: left;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.auckland-details, .wellington-details {
  padding-bottom: 10px;
}

.auckland-details, .wellington-details, .item label {
  font-weight: bold;
}

/* booking page */

.booking-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
  width: 100%;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.booking-container {
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightyellow;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

#main-wrapper {
  min-height: -webkit-calc(100vh - 9rem);
  min-height: -moz-calc(100vh - 9rem);
  min-height: calc(100vh - 9rem);
  background-color: #9e4a00;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

.main-block {
  width: 100%;
  max-width: 53.25rem;
  display: flex;
  margin: 0 auto;
  position: relative;
}

main {
  display: flex;
}

/* @media only screen and (min-width: 48em)
#main-wrapper {
    min-height: -webkit-calc(100vh - 24.375rem);
    min-height: -moz-calc(100vh - 24.375rem);
    min-height: calc(100vh - 24.375rem);
    padding: 1em 0 0;
}

@media only screen and (min-width: 48em)
.main-block {
    border-style: solid;
    border-color: #666;
    border-width: 0 1px;
} */

h1, .movie-section h2 {
  width: 100%;
  background-color: #673000;
  padding: 1em;
  color: rgb(255, 255, 255);
  font-size: 1.125em;
  display: flex;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

#print-showtimes {
  color: #ff0;
  font-size: .75em;
  font-weight: 400;
  text-decoration: underline;
}

#showtimes-block {
  text-align: center;
  width: 100%;
}

#showtimes {
  width: 100%;
}

#showtimes-table {
  width: 100%;
  margin: 0.5em 0 0;
}

#showtimes-table th {
  color: #ffffff;
  font-weight: 300;
  font-size: .75em;
}

table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: rgb(218, 166, 45);
}

tbody {
  display: table-row-group;
  vertical-align: top;
  border-color: inherit;
  width: 100%;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}


.showtimes-table td {
  background-color: #9e4a00;
  border: 2px solid rgb(248, 236, 161);
  min-width: 3.25em;
}

.poster {
  width: 6.25em;
  max-width: inherit;
}

button.time-active {
  display: block;
  margin-top: 1px;
  font-size: .75rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #deb42678;
  border: 2px;
  width: 100%;
  padding: 0.5rem;
}

.time-active {
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out;
  color: #fff;
}

